Flask
python-magic-bin; platform_system == 'Windows'
python-magic; platform_system != 'Windows'
oletools
PyPDF2
python-docx
google-genai
psutil
GPUtil
easygui
threading
winreg
PySide6
pefile
pickle
joblib
sqlite3
datetime
scikit-learn==0.24.1

